.main {
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 102.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .nav-link {
    padding: 2rem 0;
  }
  .sidebar {
    min-width: 15vw;
    overflow: hidden;
    background: transparent;
    position: absolute;
    top: 25vh;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 2rem;
  }

  .task {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #canvas {
    object-fit: cover;
    // height: 40vmin;
    border-radius: 50%;
  }

  .next-level-display {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}

.progress-ring {
  pointer-events: none;
}
.progress-ring__circle {
  stroke-dasharray: 10 20;
  // 10px dash separated by 20px
  // axis compensation, below
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: url(#gradient);
}

input {
  position: fixed;
  top: 10px;
  left: 100px;
  width: 80px;
}

.task-container {
  margin: 0;
  display: flex;
  position: relative;
  left: 6.5rem;
}
